.top {
    display: grid; 
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
     background-color: rgba(0,0,0, 0.4);
    color: white;
    background-image: url(../assets/inventory-blurred.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .titleBar {
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: white;

        h1, h2 {
            margin: 0;
            color: #2E4057;
        }

        button {
            margin-top: 1rem;
            font-size: larger;
            background-color: #2E4057;
            color: white;
        }
    }
}